<div class="container-fluid">
		<h2 class="fs-2">Uslužne djelatnosti</h2>
		<ng-container *ngIf="appUser">
			<a routerLink="/usluzna-djelatnost">
				<button  *ngIf="isLoggedIn && appUser.role == 'ROLE_DIREKTOR'" class="btn btn-primary">
					Dodaj
				</button>
			</a>
		</ng-container>
</div>
<ng-container *ngFor="let ud of usluzneDjelatnosti">
	<app-usluzna-djelatnost [usluznaDjelatnost]="ud"
							(djelatnostDeletedEmitter)="onDjelatnostDelete($event)">
	</app-usluzna-djelatnost>
</ng-container>
<ng-container *ngIf="usluzneDjelatnosti == null || usluzneDjelatnosti.length == 0">
		<div class="alert alert-primary" style="margin-top: 1rem;">Nema uslužnih djelatnosti za prikaz.</div>
</ng-container>
