<div *ngIf="isLoggedIn && appUser.role == 'ROLE_DIREKTOR'"
	 class="container" style="margin-top: 2rem; margin-bottom: 5rem;">
	<h2 class="fs-2">Popis zaposlenika</h2>
	<a routerLink="/zaposlenik">
		<button  class="btn btn-primary" style="margin-top: 1rem; margin-bottom: 1rem;">
			Dodaj zaposlenika
		</button>
	</a>
	<ng-container *ngFor="let z of zaposlenici">
	<app-zaposlenik [zaposlenik]="z"></app-zaposlenik>
	</ng-container>
	<ng-container *ngIf="!zaposlenici || zaposlenici.length == 0">
		<div class="alert alert-primary" style="margin-top: 1rem;">Nema zaposlenika za prikaz.</div>
	</ng-container>
</div>

<app-forbidden-panel *ngIf="!isLoggedIn || appUser.role != 'ROLE_DIREKTOR'"></app-forbidden-panel>