<div class="container">
<h2 class="fs-2" style="margin-top: 10px; padding-left: 10px; margin-bottom: 20px;">Pregled zapisa o intervencijama na terenu</h2>

<ng-container *ngIf="coordinates && coordinates.length != 0">
    <div class="container center-border"> 
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="12">
                <agm-marker 
                *ngFor="let c of coordinates; let i = index"
                [latitude]="c.lat" 
                [longitude]="c.lng"
                [label]="(i+1).toString()"
                >

                <agm-info-window>
                    <strong>{{adrese[i][1]}}</strong>
                </agm-info-window>

                </agm-marker>
            </agm-map>
    </div>
</ng-container>

<ng-container *ngIf="!coordinates || coordinates.length == 0">
        <div class="alert alert-primary" style="margin-top: 1rem;">Nema zapisa o intervencijama na terenu</div>
</ng-container>
</div>
