<div class="container-fluid" style="margin-top: 2rem;">
	<h2 class="fs-2">Pridijeljena uslužna djelatnost: 
		<span *ngIf="usluznaDjelatnost">{{usluznaDjelatnost.naziv}}</span> 
		<span *ngIf="!usluznaDjelatnost">Nemate pridijeljenu djelatnost</span> 
	</h2>
	<div>
		<h5 style="display: inline; margin-right: 2rem;">Zaposlenici u vašoj grupi</h5>
		<a routerLink="/grupa-zaposlenik">
			<button  class="btn btn-primary" style="margin-top: 1rem; margin-bottom: 1rem;">
				Dodaj zaposlenika
			</button>
		</a>
	</div>
</div>
<ng-container *ngFor="let z of zaposlenici">
<app-zaposlenik [zaposlenik]="z" [idDjelatnost]="usluznaDjelatnost.id"></app-zaposlenik>
</ng-container>
<ng-container *ngIf="zaposlenici == null || zaposlenici.length == 0">
	<div class="alert alert-primary">Nema zaposlenika u Vašoj grupi.</div>
</ng-container>
