<div *ngIf="isLoggedIn && appUser.role == 'ROLE_VODITELJ'"
	class="container" style="margin-top: 2rem;">
	<h2 class="fs-2">Kreirani zadatci</h2>
	<ng-container *ngIf="appUser">
		<a routerLink="zadatak">
			<button class="btn btn-primary">
				Dodaj
			</button>
		</a>
	</ng-container>

	<p *ngIf="errMsg" class="alert alert-danger" style="margin-top: 1rem;">{{errMsg}}</p>
	<p *ngIf="successMsg" class="alert alert-success" style="margin-top: 1rem;">{{successMsg}}</p>
	<ng-container *ngFor="let z of zadaci">
		<app-voditelj-zadatak [zadatak]="z"
							(zadatakDeletedEmitter)="onDeleteZadatak($event)">
	</app-voditelj-zadatak>
	</ng-container>
	<ng-container *ngIf="zadaci == null || zadaci.length == 0">
		<div class="alert alert-primary" style="margin-top: 1rem;">Nema podataka za prikaz.</div>
	</ng-container>
</div>

<app-forbidden-panel *ngIf="!isLoggedIn || appUser.role != 'ROLE_VODITELJ'"></app-forbidden-panel>