<div *ngIf="isLoggedIn && appUser.role == 'ROLE_DIREKTOR'" class="container" style="margin-top: 2rem;">
	<ng-container *ngIf="!isEdit">
		<h2 class="fs-2">Novi zaposlenik</h2>
	</ng-container>
	<ng-container *ngIf="isEdit">
		<h2 class="fs-2">Uređivanje zaposlenika</h2>
	</ng-container>

	<form class="row g-3">
		<div class="col-md-6">
			<label for="ime" class="form-label">Ime</label>
			<input type="text" class="form-control" id="ime"
					aria-describedby="ime"
					[(ngModel)]="zaposlenik.ime"
					[ngModelOptions]="{standalone: true}">
		</div>
		<div class="col-md-6">
			<label for="prezime" class="form-label">Prezime</label>
			<input type="text" class="form-control" id="prezime" 
					aria-describedby="prezime"
				  [(ngModel)]="zaposlenik.prezime"
				  [ngModelOptions]="{standalone: true}">				
		</div>
		<div class="col-md-6">
			<label for="radno_vrijeme_poc" class="form-label">Početak radnog vremena</label>
			<input type="number" class="form-control" id="radno_vrijeme_poc"  min=1
					aria-describedby="pocetak radnog vremena"
				  [(ngModel)]="zaposlenik.radno_vrijeme_sati_poc"
				  [ngModelOptions]="{standalone: true}">				
		</div>
		<div class="col-md-6">
			<label for="radno_vrijeme_sati_kraj" class="form-label">Kraj radnog vremena</label>
			<input type="number" class="form-control" id="radno_vrijeme_sati_kraj" min=1 
					aria-describedby="kraj radnog vremena"
				  [(ngModel)]="zaposlenik.radno_vrijeme_sati_kraj"
				  [ngModelOptions]="{standalone: true}">				
		</div>
		<div class="col-md-6">
			<label for="duljina_radnog_vremena" class="form-label">Duljina radnog vremena</label>
			<input type="number" class="form-control" id="duljina_radnog_vremena" min=1
					aria-describedby="duljina radnog vremena"
				  [(ngModel)]="zaposlenik.duljina_radnog_vremena"
				  [ngModelOptions]="{standalone: true}">				
		</div>
		<div class="col-md-6">
			<label for="slobodni_dani" class="form-label">Broj slobodnih dana</label>
			<input type="number" class="form-control" id="slobodni_dani" min=1
					aria-describedby="broj slobodnih dana"
				  [(ngModel)]="zaposlenik.slobodni_dani"
				  [ngModelOptions]="{standalone: true}">				
		</div>
		<div class="col-md-6">
			<label for="username" class="form-label">Korisničko ime</label>
			<input type="text" class="form-control" id="username"
					aria-describedby="korisničko ime"
					[(ngModel)]="korisnik.username"
					[ngModelOptions]="{standalone: true}">
		</div>
		<div class="col-md-6">
				<label for="password" class="form-label">Lozinka</label>
				<input type="text" class="form-control" id="password"
						aria-describedby="korisničko ime"
						[(ngModel)]="korisnik.password"
						[ngModelOptions]="{standalone: true}">
		</div>
		<div class="col-md-6">
			<label for="uloga" class="form-label">Uloga</label>
			<select name="uloga" class="form-select" aria-label="uloga select"
					[(ngModel)]="zaposlenik.id_uloga">
				<ng-container *ngFor="let u of uloge">
				  <option value="{{u[0]}}">{{u[1]}}</option>
				</ng-container>
			</select>
		</div>

		<!-- SUBMIT -->
		<div class="col-1">
			<ng-container *ngIf="!isEdit">
				<button type="submit" class="btn btn-primary "
						(click)="submit()">
						Spremi
				</button>
			</ng-container>
			<ng-container *ngIf="isEdit">
				<button type="submit" class="btn btn-primary "
						(click)="submit()">
						Izmijeni
				</button>
			</ng-container>
		</div>

		<!-- DELETE -->
		<div class="col-7">
			<div class="container">
				<div class="row">
					<div class="col-4">
						<div class="container">
							<div class="row">
								<div class="col-3">
									<button *ngIf="appUser.role == 'ROLE_DIREKTOR'"
										class="btn btn-primary d-flex"
										(click)="onDelete()">
										Obriši
									</button>
								</div>
							</div>
						</div>
					</div>
					<div *ngIf="isForDelete" class="col-8">
						<div class="alert alert-danger">
							<span>Jeste li sigurni da želite obrisati zaposlenika? &nbsp;&nbsp;</span>
			
							<button class="btn btn-success" style="margin-right: 1rem;"
								(click)="onConfirmDelete()">
								Da
							</button>
							<button class="btn btn-danger"
								(click)="onDiscardDelete()">
								Ne
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<p *ngIf="errMsg" class="alert alert-danger">{{errMsg}}</p>
		<p *ngIf="successMsg" class="alert alert-success">{{successMsg}}</p>
	  </form>
</div>

<app-forbidden-panel *ngIf="!isLoggedIn || appUser.role != 'ROLE_DIREKTOR'"></app-forbidden-panel>