<div *ngIf="isLoggedIn && appUser.role == 'ROLE_DIREKTOR'" class="container" style="margin-top: 2rem;">
	<ng-container *ngIf="!isEdit">
		<h2 class="fs-2">Nova intervencija</h2>
	</ng-container>
	<!-- <ng-container *ngIf="isEdit">
		<h2 class="fs-2">Uređivanje zaposlenika</h2>
	</ng-container> -->

	<form class="row g-3">

		<div class="col-md-12">
			<label for="adresa" class="form-label">Adresa</label>
			<input type="text" class="form-control" id="adresa"
					placeholder="ime adrese"
					name="adresa"
					[(ngModel)]="adresa.adresa"
					>
		</div>
		<!-- SUBMIT -->
		<div class="col-1">
			<ng-container *ngIf="!isEdit">
				<button type="button" class="btn btn-primary "
						(click)="submit()">
						Spremi
				</button>
			</ng-container>
			<ng-container *ngIf="isEdit">
				<button type="submit" class="btn btn-primary "
						(click)="submit()">
						Izmijeni
				</button>
			</ng-container>
		</div>

		<!-- DELETE -->
		<div class="col-7">
			<div class="container">
				<div class="row">
					<div class="col-4">
						<div class="container">
							<div class="row">
								<div class="col-4">
									<button *ngIf="appUser.role == 'ROLE_DIREKTOR'"
										class="btn btn-primary d-flex"
										(click)="onDelete()">
										Obriši
									</button>
								</div>
							</div>
						</div>
					</div>
					<div *ngIf="isForDelete" class="col-8">
						<div class="alert alert-danger">
							<span>Jeste li sigurni da želite obrisati zaposlenika? &nbsp;&nbsp;</span>
			
							<button class="btn btn-success" style="margin-right: 1rem;"
								(click)="onConfirmDelete()">
								Da
							</button>
							<button class="btn btn-danger"
								(click)="onDiscardDelete()">
								Ne
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<p *ngIf="errMsg" class="alert alert-danger">{{errMsg}}</p>
		<p *ngIf="successMsg" class="alert alert-success">{{successMsg}}</p>
	  </form>
</div>

<app-forbidden-panel *ngIf="!isLoggedIn || appUser.role != 'ROLE_DIREKTOR'"></app-forbidden-panel>
