<div *ngIf="isLoggedIn && appUser.role == 'ROLE_VODITELJ'"
	 class="container" style="margin-top: 2rem;">
	<h3>Odaberite zaposlenika kojeg želite pridijeliti zadatku klikom na željenog zaposlenika.</h3>
	<p *ngIf="msg" class="alert alert-success" style="margin-top: 1rem;">{{msg}}<p></p>
	 <ng-container *ngFor="let z of zaposlenici">
		<app-grupa-zaposlenik [zaposlenik]="z"
							(zaposlenikSelectedEmitter)="onZaposlenikSelect($event)">
		</app-grupa-zaposlenik>
		</ng-container>
		<ng-container *ngIf="!zaposlenici || zaposlenici.length == 0">
			<div class="alert alert-primary">Nema zaposlenika za prikaz.</div>
		</ng-container>
</div>

<app-forbidden-panel *ngIf="!isLoggedIn || appUser.role != 'ROLE_VODITELJ'"></app-forbidden-panel>