<div class="container" style="margin-bottom: rem; margin-top: 20px;">
    <div class="container-fluid" style="margin-bottom: 20px">
            <h2 class="fs-2">Grupe</h2>
            <span class="fs-5 fw-bold">Ukupni realizirani trošak: {{realiziraniTrosak}} sati</span>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="fs-5 fw-bold">Ukupni planirani trošak: {{planiraniTrosak}} sati</span>
                <ng-container *ngFor="let grupa of grupe">
                    <div class="card">
                        <div class="card-body">
                            <app-grupe-item [grupa]="grupa"></app-grupe-item>
                        </div>
                    </div>
                </ng-container>
    </div>
</div>

