<div class="container">
    <app-mapa [coordinates]="coordinates" [lat]="lat" [lng]="lng" [adrese]="adrese"> </app-mapa>
    <div class="flex-container">
        <button class="btn btn-primary" (click)="pregledZaposlenika()"> Pregled zaposlenika </button>
    </div>
</div>


