<div class="container" style="width: 33%; ">
	<div class="login-form">
		<div class="row gy-3">
			<div class="col-12">
				<input type="text" class="form-control form-control" 
						placeholder="Korisničko ime" aria-label="username"
						[(ngModel)]="username">
			</div>
			<div class="col-12">
				<input type="password" class="form-control form-control" 
						placeholder="Lozinka" aria-label="password"
						[(ngModel)]="password">
			</div>
			<div class="col-12">
				<div class="d-grid gap-2">
					<button class="btn btn-primary" type="button"
							(click)="login()">
							Prijava
					</button>
				</div>
			</div>
		</div>
		<p *ngIf="errMessage" class="alert alert-danger" style="margin-top: 1rem;">{{errMessage}}</p>
	</div>
</div>
