<h4 class="card-title">
    {{grupa.naziv}}
</h4>

<div class="card-text">Voditelj: {{voditelj?.ime}} {{voditelj?.prezime}} &nbsp;
&nbsp;&nbsp;Planirani trošak: {{planiraniTrosak}} sati &nbsp;
&nbsp;&nbsp;Realizirani trošak: {{realiziraniTrosak}} sati
</div>

<div class="container" style="margin-top: 10px;">
    <div class="col-6">
        <a>
            <button class="btn btn-primary d-flex" (click) = "pregledZaposlenika()">
                Pregled zaposlenika
            </button>
        </a>
    </div>
</div>
