<div class="container" style="margin-bottom: 5rem;">
	<app-usluzna-djelatnost-list *ngIf="!isLoggedIn || (isLoggedIn && appUser.role == 'ROLE_DIREKTOR')">
	</app-usluzna-djelatnost-list>
	
	<app-zadatak-list *ngIf="isLoggedIn && appUser.role == 'ROLE_DJELATNIK'"></app-zadatak-list>
	<app-zaposlenik-list *ngIf="isLoggedIn && appUser.role == 'ROLE_VODITELJ'"></app-zaposlenik-list>
</div>
