<div class="container" style="margin-bottom: rem; margin-top: 20px;">
    <div class="container-fluid" style="margin-bottom: 20px">
            <h2 class="fs-2">Grupe</h2>
                <ng-container *ngFor="let grupa of grupe">
                    <div class="card">
                        <div class="card-body">
                            <app-grupa-djelatnik-item [grupa]="grupa"></app-grupa-djelatnik-item>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="grupe.length == 0">
                    Nema pridjeljenih grupa.
                </ng-container>
    </div>
</div>

