<div *ngIf="isLoggedIn && appUser.role == 'ROLE_DIREKTOR'"
	 class="container" style="margin-top: 2rem; margin-bottom: 5rem;">
	<h2 class="fs-2">Popis intervencija</h2>
	<a routerLink="/lokacija-form">
		<button  class="btn btn-primary" style="margin-top: 1rem; margin-bottom: 1rem;">
			Dodaj intervenciju
		</button>
	</a>
	<ng-container *ngFor="let adr of adrese">
        <app-lokacija-item [adresa]="adr"></app-lokacija-item>
	</ng-container>
	<ng-container *ngIf="!adrese || adrese.length == 0">
		<div class="alert alert-primary" style="margin-top: 1rem;">Nema zaposlenika za prikaz.</div>
	</ng-container>
</div>

<app-forbidden-panel *ngIf="!isLoggedIn || appUser.role != 'ROLE_DIREKTOR'"></app-forbidden-panel>