<div class="btn-group dropstart" style="margin-left: 1rem;">
	<button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
	  Izaberi
	</button>
	<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
	  	<ng-container *ngIf="isLoggedIn  && (appUser.role == 'ROLE_VODITELJ' || appUser.role == 'ROLE_DJELATNIK')">
		  	<a routerLink="upis-sati" class="dropdown-link">
		   		<li><button class="dropdown-item" type="button">Upis radnih sati</button></li>
		 	</a>
			 <a routerLink="osobni-podatci" class="dropdown-link">
				<li><button class="dropdown-item" type="button">Pregled osobnih podataka</button></li>
		  	</a>
	  	</ng-container>
		  <ng-container *ngIf="isLoggedIn  && (appUser.role == 'ROLE_VODITELJ')">
			<a routerLink="voditelj-zadatci" class="dropdown-link">
				 <li><button class="dropdown-item" type="button">Zadatci</button></li>
		   	</a>
			</ng-container>
			<ng-container *ngIf="isLoggedIn  && (appUser.role == 'ROLE_DJELATNIK')">
				<a routerLink="grupa-djelatnik" class="dropdown-link">
					 <li><button class="dropdown-item" type="button">Moje grupe</button></li>
				   </a>
				</ng-container>
	  	<ng-container *ngIf="isLoggedIn  && (appUser.role == 'ROLE_DIREKTOR')">
			<a routerLink="zaposlenici"  class="dropdown-link">
		 		<li><button class="dropdown-item" type="button">Zaposlenici</button></li>
			</a>
	  	</ng-container>
			<ng-container *ngIf="isLoggedIn  && (appUser.role == 'ROLE_DIREKTOR')">
				<a routerLink="grupe" class="dropdown-link">
					<li><button class="dropdown-item" type="button">Grupe</button></li>
				</a>
			</ng-container>
			<ng-container *ngIf="isLoggedIn  && (appUser.role == 'ROLE_DIREKTOR')">
				<a routerLink="lokacija-pregled" class="dropdown-link">
					<li><button class="dropdown-item" type="button">Pregled intervencija</button></li>
				</a>
			</ng-container>
		<!--</ng-container>-->
	</ul>
  </div>