<div *ngIf="isLoggedIn && appUser.role == 'ROLE_DIREKTOR'"
	 class="container" style="margin-top: 2rem; margin-bottom: 5rem;">
	<h2 class="fs-2">Popis zaposlenika u grupi {{groupName}}</h2>
    <ng-container *ngFor="let z of zaposlenici">
        <div class="card">
        <div class="card-body">
            <div class="card-text" class="fs-5">
                {{z.ime}} {{z.prezime}}
            </div>
        </div>
        </div>
    </ng-container>
    <ng-container *ngIf="!zaposlenici || zaposlenici.length == 0">
        <div class="alert alert-primary" style="margin-top: 1rem;">Nema zaposlenika za prikaz.</div>
    </ng-container>
</div>
