<div id="card" class="card" style="margin-top: 1rem;"
	(click)="onZaposlenikSelect()">
	<div class="card-body">
		<p class="card-text fw-bold">{{zaposlenik.ime}} {{zaposlenik.prezime}}</p>
		<p class="card-text">Uloga: {{zaposlenik.id_uloga == 3 ? 'DJELATNIK' : 'VODITELJ'}}</p>			
		<p class="card-text">Zauzetost ovog tjedna: {{zauzetost}} sati</p>
		<p class="card-text">Raspoloživost ovog tjedna: {{raspolozivost}} sati</p>
		<button  class="btn btn-primary" style="margin-top: 1rem; margin-bottom: 1rem;" (click) = "showLocation()">
				Pogledaj lokaciju
		</button>
	</div>
</div>
