<div *ngIf="isLoggedIn && appUser.role == 'ROLE_VODITELJ'" class="container" style="margin-top: 2rem;">
	<h2 class="fs-2">Novi radni zadatak</h2>

	<p *ngIf="!zadatak.id_djelatnost">Morate imati pridijeljenu djelatnost kako biste mogli kreirati zadatak!</p>
	<form class="row g-3">
		<div class="mb-3">
			<label for="opis" class="form-label">Opis</label>
			<input type="text" class="form-control" id="opis"
					aria-describedby="opis"
					[disabled]="!zadatak.id_djelatnost"
					[(ngModel)]="zadatak.opis"
					[ngModelOptions]="{standalone: true}">
		</div>
		<div class="col-md-6">
			<label for="cijenasata" class="form-label">Cijena sata</label>
			<input type="number" class="form-control" id="cijenasata" 
					aria-describedby="cijana sata"
				  [disabled]="!zadatak.id_djelatnost"
				  [(ngModel)]="zadatak.cijena_sata"
				  [ngModelOptions]="{standalone: true}">				
		</div>
		<div class="col-md-6">
			<label for="procijenjeni_trosak" class="form-label">Procijenjeni trošak</label>
			<input type="number" class="form-control" id="procijenjeni_trosak" 
					aria-describedby="procijenjeni trosak"
					[disabled]="!zadatak.id_djelatnost"
				  [(ngModel)]="zadatak.procijenjeni_trosak"
				  [ngModelOptions]="{standalone: true}">				
		</div>
		<div class="col-md-6">
			<label for="zaposlenik" class="form-label">Zaposlenik</label>
			<select name="zadatak" class="form-select" aria-label="zaposlenik select"
					[(ngModel)]="id_zaposlenik"
					[ngModelOptions]="{standalone: true}">
				<ng-container *ngFor="let z of zaposlenici">
				  <option value="{{z[0]}}">{{z[2][0]}}. {{z[1]}}</option>
				</ng-container>
			</select>
		</div>
		<div class="col-md-6">
			<label for="zaposlenik" class="form-label">Datum početka</label>
			<input type="date" class="form-control" id="datum_poc"
				[(ngModel)]="zadatak.datum_poc"
				[ngModelOptions]="{standalone: true}">
		</div>
		<div class="col-12">
			<button type="submit" class="btn btn-primary "
					(click)="submit()">
					Spremi
			</button>
		</div>
		<p *ngIf="errMsg" class="alert alert-danger" style="margin-top: 1rem;">{{errMsg}}</p>
		<p *ngIf="successMsg" class="alert alert-success" style="margin-top: 1rem;">{{successMsg}}</p>
	  </form>
</div>

<app-forbidden-panel *ngIf="!isLoggedIn || appUser.role != 'ROLE_VODITELJ'"></app-forbidden-panel>